---
import Container from "@components/layout/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import UiACTFDiscord from "@components/widgets/UiACTFDiscord.astro";
import Card from "@components/ui/DisplayImage.astro";
import { Image } from "astro:assets";
import Intro from "@assets/betasec/intro_bilde.jpg";
import VÅR_25_IntroCTF from "@assets/betasec/vår_25_intro_ctf.jpg";
import NNSCTF from "@assets/betasec/nnsctf.jpg";
---

<BaseLayout title="BetaSec">
  <Container>
    <h1 class="mb-4 border-b-2 border-gray-600 pb-4 text-4xl font-bold dark:border-gray-400">
      Norske Nøkkelsnikkere CTF!
    </h1>
    <div class="my-4 grid grid-cols-1 gap-4 md:grid-cols-3 md:px-0">
      <Card
        title="NNS CTF"
        image={NNSCTF}
      /><Card
        title="NNS CTF"
        image={NNSCTF}
      /><Card
        title="NNS CTF"
        image={NNSCTF}
      />
    </div>
  </Container>
</BaseLayout>
